// Heading Types
.heading-primary {
    font-size: rem(75px);
    font-weight: 700;
    line-height: 1.5;
}

.heading-secondary {
    font-size: rem(30px);
    font-weight: 400;
    line-height: rem(45px);
}

.heading-tertiary {
    font-size: rem(18px);
    font-weight: 700;
    line-height: 1.5rem;
}

.heading-quinary {
    font-size: rem(18px);
    line-height: 1.5rem;
}

// Text Types
.txt-primary {
    font-size: rem(22px);
    line-height: 1.5;
}

.txt-secondary {
    font-size: 0.875rem;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.txt-tertiary {
    font-size: 0.75rem;
}

.txt-quinary {
    font-size: rem(28px);
    line-height: 1.5;
}
