$scotch-color-key: 'base' !default;

@function getColor($name: 'primary', $variant: $scotch-color-key, $opacity: 1) {
	$color: null;

	// Get the color spectrum
	$color-spectrum: map-get($base-colors, $name);

	// Get the color with variant
	// ==================================

	// SASS CONTROL DIRECTIVE - @IF
	@if $color-spectrum {
		$color: map-get($color-spectrum, $variant);
	}

	// ------- OR ------------

	// SASS BUILT IN FUNCTION - IF
	// $color: if($color-spectrum, map-get($color-spectrum, $variant), $color);

	// Get the alpha setting
	$alpha: if(type-of($opacity) == 'number', $opacity, map-get($base-opacity, $opacity));

	// Set the alpha of the color
	@if $alpha {
		$color: rgba($color, $alpha);
	}

	@return $color;
}
