.divider {
	&--or {
		position: relative;
		color: getColor('dark');
		font-size: rem(14px);
		text-align: center;

		span {
			background-color: #fff;
			z-index: 1;
			position: relative;
			padding: rem(10px);
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: 1px;
			width: 100%;
			left: 0;
			background-color: getColor('dark', 'primary');
			z-index: 0;
		}
	}
}
