// Generate Width Helper Classes

/* Examples:
	w-0 ==> width: 0%
	w-1 ==> width: 10%
*/

$values: 11, 12, 13, 14, 15, 16, 17, 18, 19, 88, 89;

@each $value in $values {
    .w-#{$value} {
        width: #{$value + '%'};
    }
}

@for $i from 0 through 10 {
    .w-#{$i + '0'} {
        width: #{$i + '0%'};
    }
}
