.list-group {
    z-index: 3;

    &-item {
        background-color: getColor('brand', 'quinary');
        font-size: rem(14px);
        color: #aaa;

        &.active,
        &:hover,
        &:focus {
            color: getColor('light');
            background-color: #2b2b2b;
            border-color: transparent;
        }
        &.white-sect {
            background: #fff;
        }
        .index-holder {
            display: inline-block;
        }
        .year-holder {
            display: inline-block;
        }
    }
}
